[submodule "vendor/cluster_interconnect"]
	path = vendor/cluster_interconnect
	url = git@github.com:ourspalois/cluster_interconnect.git
[submodule "vendor/ibex"]
	path = vendor/ibex
	url = git@github.com:ourspalois/ibex.git
[submodule "vendor/common_cells"]
	path = vendor/common_cells
	url = git@github.com:ourspalois/common_cells.git
[submodule "vendor/Fraise"]
	path = vendor/Fraise
	url = git@github.com:ourspalois/Fraise.git
